.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.grid-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.grid-6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
/* media queries */
@media (min-width: 768px) and (max-width: 992px){
}
@media (max-width:768px){
    .grid-6{
        grid-template-columns: repeat(2, 1fr);
    }
}